@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;700&family=Lilita+One&family=Roboto:ital,wght@0,700;0,900;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
:root {
    --primary-color: #faedcd;
    --secondary-color: #d4a373;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background: url(./images/restaurant.jpg);
    background-position: 20% 100%;
}

#content{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

/* Header */

.header {
    background-color: var(--primary-color);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav {
    list-style: none;
    display: flex;
    gap: 30px;
}
.nav a {
    padding: 8px 18px;
    border-radius: 4px;
}
.nav a:hover {
    background-color: #d4a373;
}
.nav a:active {
    background-color: white;
}

/* Main */

.main {
    height: 80%;
    width: 70%;
    max-width: 700px;
   /*  border: 4px solid white; */
    padding: 50px;
    background-color: var(--secondary-color);
    align-self: center;
    overflow: auto;
    /* color: white; */
}
.title {
    margin-bottom: 12px;
    font-weight: 900;
}
.main > p {
    padding: 30px 15px;
    background-color: var(--primary-color);
}

/* Menu */
.menu {
    display: grid;
    grid-auto-rows: 370px;
    justify-content: center;
    gap: 30px;
}

.menu > div {
    background-color: var(--primary-color);
    padding: 12px;
}
.menu-image{
    width: 300px;
    height: 200px;
}
.burger .menu-image {
    background: url(./images/burger.jpg);
    background-size: cover;
    background-position: 20% 40%;
}
.pizza .menu-image {
    background: url(./images/pizza.jpg);
    background-size: cover;
}
.steak .menu-image {
    background: url(./images/steak.jpg);
    background-size: cover;
}
.menu h3 {
    font-size: 26px;
}
.menu p {
    margin: 12px 0;
    width: 300px;
}

/* Contact */

.contact-info {
    padding: 12px;
    line-height: 30px;
    background-color: var(--primary-color);
}
.contact-title {
    margin-bottom: 12px;
    font-weight: 900;
}